# $ virtualenv --python=python3 --no-setuptools .venv
# $ .venv/bin/pip install -U pip setuptools
# $ .venv/bin/pip install -U zc.buildout
# $ .venv/bin/buildout
# $ bin/dnosetests
# $ bin/dconsole dummy   # [terminal 1]
# $ bin/dconsole <pid>   # [terminal 2]
# $ bin/python examples/santa.py
# $ bin/python examples/udp_echo.py server   # [terminal 1]
# $ bin/python examples/udp_echo.py client   # [terminal 2]
# $ bin/python examples/http.py
# ...
# profit

[buildout]
eggs-directory = .eggs
develop-eggs-directory = .eggs-develop
parts-directory = .parts
versions = versions
develop = .
parts = diesel

[diesel]
recipe = zc.recipe.egg:script
eggs =
	diesel
	ansi
	nose
interpreter = python

[versions]
